.nav-bar {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: #171717;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar a {
  font-weight: bold;
}
